.noPadding {
  padding: 0 !important;
}

.bgNotEditable {
  background-color: #f2f2f2;
}

.calculator {
  text-align: right;
  align-items: center;
  display: flex;
}

.multiHeaders {
  background-color: #f2f2f2;
  align-items: end;
}

.sapMWizardStepTitle{
  display: none !important;
}

.sapMWizardStep{
  padding-bottom: 0px !important
}

.sapUiRespGridSpanInvisible {
  display: none;
}